/* created by Thanh Thao Bui - 104170172
It is styled for responsived */

/* style the content in home page when in normal screen */
.home__section {
  margin-top: 60px;
  text-align: center;
}

.home__content h2 {
  line-height: 55px;
  font-size: 2.5rem;
}

.home__content h2 span {
  color: orangered;
  display: inline-block;
}

.home__content p {
  margin-top: 30px;
  text-align: center;
}

.home__btns {
  margin-top: 40px;
}

.create__btn {
  border: none;
  outline: none;
  padding: 7px 25px !important;
  border-radius: 50px !important;
  border: 1px solid orangered !important;
  font-size: 0.9rem;
  background: transparent;
}

.explore__btn {
  border: none;
  outline: none;
  padding: 7px 25px !important;
  border-radius: 50px !important;
  border: 1px solid orangered !important;
  font-size: 0.9rem;
  background: orangered;
  margin-right: 10px;
}

.explore__btn i,
.create__btn i {
  color: #000000;
  font-size: 1rem;
}

.create__btn a {
  text-decoration: none;
  color: #000000;
}

.explore__btn a
{
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}

.create__btn a:hover {
  color: orangered;
}

.explore__btn a:hover
{
  text-decoration: none;
  color: orangered;
}

.explore__btn:hover {
  background-color: blanchedalmond;
}

.home__img {
  width: 500px;
  margin-left: auto;
}

.home__img img {
  border-radius: 7px;
}

/* when the width of screen is lesser than 992px */
@media only screen and (max-width: 992px) {
  .home__img {
    width: 300px;
  }

  .home__section {
    margin-top: 90px;
  }

  .home__content h2 {
    font-size: 1.5rem;
    line-height: 40px;
  }

  .home__content p {
    font-size: 0.8rem;
    line-height: 25px;
  }

  .create__btn,
  .explore__btn {
    padding: 4px 25px !important;
  }

  .create__btn a,
  .explore__btn a {
    font-size: 0.7rem;
  }
}

/* when the width of screen is lesser than 576px */
@media only screen and (max-width: 576px) {
  .home__img {
    width: 100%;
    margin: auto;
    margin-top: 50px;
  }
}
