.create-form {
    max-width: 600px;
  }

.btn {
  border: none;
  outline: none;
  padding: 7px 25px !important;
  border: 1.5px solid orangered !important;
  font-size: 0.9rem;
  font-weight: bold;
  background: transparent;
}

.btn:hover {
  background-color: orangered;
}