/* Written by Thanh Thao Bui - 104170172
Style the footer to fix the bottom of the page */
footer {
  margin-top: fixed;
  position: fixed;
  background-color: orangered;
  color: white;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  text-align: center;
}